/* VARIABLES */

:root {
    --primary-color: #65dceb;
    --secondary-color: #32a1c2;
    --font-color: #ffffff;
    --bg-color: #1f1f1f;
    --heading-color: #aaaaaa;
    --nav-bg-color: #0d0d0d;
    --scroll-bg-color: #0f0f0f;
    --scroll-fg-color: #272727;
    --light-bg-color: #eee;
}

/* PREREQUISITES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family : 'Raleway', sans-serif;
    outline: none !important;
}

html {
    margin: 0;
}
::-webkit-scrollbar {
    width: 10px;
}    
::-webkit-scrollbar-track {
    background-color: var(--scroll-bg-color);
}
::-webkit-scrollbar-thumb {
    background-color: var(--scroll-fg-color);
}

body {
    overflow-x: hidden;
    background-color: var(--bg-color);
	transition: .4s ease-out;
    color: var(--font-color);
}

hr {
    width: 50%;
    border-color: #aaa;
}

.banner {
	width: 100%;
	height: 5rem
}

/* LOADER */

.mainbod {
	transition: .4s ease-out;
    display: none;
}

.showing {
    display: block !important;
}

.load {
	height: 100%;
    width: 100%;
    background-color: var(--bg-color);
    padding-top: 3%;
    opacity: 1;
    transition: .2s ease-out;
}

.lds-ring > div{
    position: absolute;
    padding: 20%;
    margin: auto;
    border-radius: 50%;
    border: 20px solid;
    border-color: #67d0ff transparent transparent transparent;
    animation: lds-ring 1.5s cubic-bezier(0.5,0,0.5,1) infinite;
    -webkit-animation: lds-ring 1.5s cubic-bezier(0.5,0,0.5,1) infinite;
}

.lds-ring > div:nth-child(2) {
    animation-delay: .2s;
    border-color: #31ffff transparent transparent transparent;
}

.lds-ring > div:nth-child(3) {
    animation-delay: .4s;
    border-color: #31f7ff transparent transparent transparent;
}

.lds-ring > div:nth-child(4) {
    animation-delay: .6s;
    border-color: #009399 transparent transparent transparent;
}

.lds-ring > div:nth-child(5) {
    color: var(--font-color);
    border: 0px;
    animation: fromtop 1s;
    -webkit-animation: fromtop 1s;
    padding-top: 20%;
    font-family: 'Raleway';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 30;
}

.lds-ring > div {
    padding: 20%;
    left: 30%;
}
.lds-ring > div:nth-child(5) {
    padding: 17%;
}

.lds-ring {
    transform: scale(0.85);
    width: 100%;
}

/*NAVBAR*/

.navbar a:hover {
    color: var(--primary-color);
}
.navbar {
    overflow: hidden;
    background-color: none;
    position: fixed;
    width: 100%;
    border-radius: 0;
    z-index: 500;
    padding-left: 5%;
    padding-right: 5%;
	-webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
	-webkit-animation-name: InDown;
    animation-name: InDown;
    top: 0;
    transition: all 0.25s;	
    color: var(--primary-color);
}

.disappear {
    opacity: 0;
}

.navbar a {
    float: left;
    display: block;
    color: var(--secondary-color);
    text-align: center;
    margin-top: 0.5%; 
    text-decoration: none;
    transition: all 0.15s;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    font-size: 15;
    margin: 1%;
}

.navbar a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--primary-color);
    height: 2px;
    z-index: -1;
    transition: all 0.25s;
}

.nav-img {
    padding: 0 !important;
    margin: 0 !important;
}

.nav-img img {
    width: 25vw;
}

.nav-img::after {
    background: none !important;
}

.navbar a:hover::after {
    width: 100%;
}

.navbar a.log {
    float: right;
}

.navbar span {
    float: left;
    display: block;
    text-align: center;
    padding: 2vh;
    text-decoration: none;
    margin: 10px 15px;
    position: relative;
    cursor: pointer;
    font-size: 20;
    color: var(--primary-color);
}

.navbar a span {
    float: right !important;
    padding: 0;
    margin: 4vh;
    color: #fff;
}

.sidenav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    background-color: rgba(20, 20, 20, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10%;
}

.sidenav a {
    display: block;
    color:  rgb(157, 157, 157);
    text-align: center;
    padding: 10px 4px;
    width: 80%;
    text-decoration: none;
    transition: all 0.5s;
    margin: 10px 15px;
    position: relative;
    font-size: 25;
    text-transform: uppercase;
    font-weight: 500 !important; 
}

.sidenav a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #fff;
    height: 2px;
    transition: all 0.5s;
}

.sidenav a:hover::after {
    width: 20%;
}

.sidenav a:hover {
    color: #fff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 2%;
    font-size: 36px;
    margin-left: 4%;
    margin-top: 5%;
    width: 10%;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 950px) {
    .nav-big {
        display: none !important;
    }
    .nav-small {
        display: block !important;
    }
}

.nav-big {
    display: block;
}

.nav-small {
    display: none;
}

/* FORM */ 

.login, .register {
    padding-top: 10%;
}

.login h1, .register h1{
    color: var(--font-color);
}

form input[type=email], input[type=password], input[type=text] {
    border: transparent solid 2px;
    border-bottom-color: var(--secondary-color);
    padding: 10;
    justify-content: center;
    align-content: center;
    width: 40%;
    transition: 0.25s;
    text-align: center;
    margin: 10px auto;
    background: none;
    color: var(--font-color);
}

input[type="submit"] {
    border: var(--primary-color) solid 2px;
    background: none;
    border-radius: 30px;
    padding: 10;
    justify-content: center;
    align-content: center;
    width: 17%;
    transition: 0.5s;
    text-align: center;
    margin: 5px auto;
    color: var(--font-color);
}

input[type="submit"]:hover{
    background: var(--primary-color);
    color: #fff;
}

form input[type="email"]:focus-within, input[type="password"]:focus-within, input[type="text"]:focus-within {
    border: transparent solid 2px;
    border-bottom-color: var(--primary-color);
    width: 50%;
}

.event-form {
    padding: 5vh 5vh 5vh 10%;
}

.event-form h3{
    color: var(--font-color);
}

/* ABOUT */

#about {
    padding: 5% 10%;
    text-align: center;
    z-index: 1;
    background-color: var(--light-bg-color);
    color: #000;
}

.cntdwn h2{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2;
    font-size: 50;
}

.cntdwn p {
    text-align: right;
    font-size: 15;
}

.sponsors h2 {
    font-size: 20;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2;
}

.sponsors img {
    width: 20vw;
}

@media screen and (max-width: 950px) {
    .sponsors img {
        width: 50vw;
    }
}

.abt {
    padding: 10vh;
    background-color: #ccc;
    font-size: 20;
    min-height: 115%;
    max-width: 100%;
    margin: 5vh 0;
    transition: 0.25s;
}

.ordin-abt {
    background-image: url(lib/ordin-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;  
}

.pyro-abt {
    background-image: url(lib/pyro-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.abt:hover {
    background-color: #ddd;
}

.abt h1 {
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 3;
    font-size: 50;
}

@media screen and (max-width: 950px) {
    .abt h1 {
        font-size: 20;
    }
}

#demo {
    padding: 3vh;
    font-size: 15;
    transition: 0.5s ease-out;
    letter-spacing: 2px;
}

#about i {
    font-size: 17;
}


/* EVENTS */

#events {
    padding: 5% 10%;
    text-align: center;
    z-index: 1;
    background-color: var(--scroll-bg-color);
}

.section-heading {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2;
    font-size: 50;
}

.heading-para {
    text-align: center;
    font-size: 20;
}

.small-heading {
    font-size: 25;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2;
}

.smaller-heading {
    font-size: 20;
    font-weight: 300;
    letter-spacing: 2;
}

.guidelines {
    padding: 7vh;
    font-size: 17;
    transition: 0.25s;
    text-align: left;
}

.light {
    text-decoration: none;
    color: var(--primary-color);
    transition: 0.25s;
}

.light:hover {
    text-decoration: none;
    color: var(--secondary-color);
}

.eicon {
    font-size: 50;
}

.news ul li {
    font-size: 20;
    margin: 2vh;
    font-weight: 200;
}

.hover-bg::before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 95%;
    content: '';
    color: transparent;
    background: var(--scroll-fg-color);
    height: 100%;
    z-index: -1;
    transition: all 0.25s cubic-bezier(.04, .01, .36, .99);
    transform: scale(0)
}

.hover-bg {
    min-height: 25vh;
    padding-top: 3vh;
    z-index: 1;
    cursor: pointer;
}

.hover-bg:hover::before {
    transform: scale(1);
}

.hover-bg a {
    color: #fff;
}

.hover-bg a:hover {
    color: #fff;
    text-decoration: none;
}

.hover-bg a:visited {
    text-decoration: none;
}

.hover-bg p {
    font-size: 20;
}

#events img {
    max-width: 100%;
}

/* TEAM */

#team {
    padding: 5% 10%;
    text-align: center;
    z-index: 1;
    background-color: #ddd;
    color: #000;
}

#team img {
    max-width: 13vw;
    border-radius: 50%;
}

@media screen and (max-width: 950px) {
    #team img {
        max-width: 50vw;
    }
}

.head-text {
    color: #000;
    font-weight: 400 !important;
    transition: 0.25s;
}

.heads-hr {
    width: 60%;
    border-color: var(--scroll-fg-color);
    margin-top: 10px;
    margin-bottom:10px;
}

/* FOOTER */

.footer {
    padding: 5% 10%;
    text-align: center;
    z-index: 1;
    background-color: var(--scroll-bg-color);
}

.footer img {
    width: 50%;
    max-width: 80%;
}

/* ANIMATIONS */

@keyframes lds-ring {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}
@-webkit-keyframes lds-ring {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}
