
canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("lib/ordin.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
}

@media screen and (max-width: 950px) {
    #particles-js {
        background-size: 60%;
    }
}

#home {
    height: 100%;
}